# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Virtual environments
# =========================
venv/
.env/

# =========================
# Pytest
# =========================
.pytest_cache/

# =========================
# IDEs
# =========================
.vscode/
.idea/

# =========================
# Obsidian
# =========================
.obsidian/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# Files
# =========================
dashboards/MarketPulse_PBI.pbix